body {
    background-color: #eee;
    font-family: system-ui, sans-serif;
    cursor: default;
    box-sizing: border-box;
  }
  
  form {
    padding: 1rem;
  }
  
  form fieldset {
    border-radius: 1rem;
    background-color: white;
    border: 0;
    box-shadow: 0 .25rem .5rem rgb(0 0 0 / 10%);
  }
  
  form fieldset:not(:last-of-type) {
    margin-bottom: .5rem;
  }
  form fieldset legend {
    position: relative;
    display: block;
    font-weight: 600;
    top: 1em;
  }