#questionCss {
    font-size: 50px;
    text-align: center;
}


.highlight {
    background-color: yellow;
    color: blue;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
li {
    list-style-type: none;
}